In [1]:
import numpy as np
import pandas as pd
from cuped.cuped import Cuped, MultiCuped

In [2]:
sample_1 = np.random.exponential(scale=1.0, size=1000)
sample_2 = np.random.exponential(scale=0.3, size=1000)

In [3]:
data_df = pd.DataFrame({'sample_1': sample_1, 'sample_2': sample_2})

In [12]:
cuped = Cuped()

In [13]:
cuped.fit_transform(data_df, covariate_column='sample_1', target_column='sample_2')

ambrosia LOGGER: After transformation СUPED for sample_2, the variance is 99.9616 % of the original
ambrosia LOGGER: Variance transformation 0.0810 ===> 0.0810

     sample_1  sample_2  sample_2_transformed
0    0.153553  0.262529              0.258649
1    0.765110  0.907612              0.906591
2    0.374843  0.202443              0.199597
3    0.054879  0.430421              0.426079
4    1.916335  0.167216              0.171580
..        ...       ...                   ...
995  1.658998  0.193638              0.196797
996  1.081434  0.086034              0.086493
997  0.717447  0.373939              0.372695
998  0.373734  0.063550              0.060699
999  0.016149  0.464658              0.460135

[1000 rows x 3 columns]